<!DOCTYPE html>
<html>
  <head>
    <title>Monio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'common/navbar' %>
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="col-md-12"><%= render 'common/flash_messages' %></div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1"><%= yield %></div>
      </div>
    </div>
  </body>
</html>
